[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
psycopg2 = "*"
Pillow = "*"
django-bootstrap4 = "*"
bootstrap4 = "*"
gunicorn = "*"
whitenoise = "*"
python-decouple = "*"
django-heroku = "*"

[dev-packages]

[requires]
python_version = "3.8"
