{% extends 'base.html' %} 

{% block content %} 


<div class="container">
   <div class="row">
   
        <div class="col-md-6">
           {% include 'location.html' %}
           {% include 'activity_component.html' %}
        </div>

        <div class=" col-md-6">
            <h5>{{ hood_count }} hoods available</h5>
            <a href="{% url 'create_hood' %}"><span class="badge bg-success my-3">Add Neighbourbood</span></a>

            {% include 'feed_component.html' %}
            
        </div>
        
        <!-- <div class="col-md-3">
        </div> -->
  
      </div>
</div>

{% endblock %}
