{% extends 'base.html' %} 

{% load bootstrap4 %}


{% block content %}
{% if page == 'login' %}
    <div class="login-page">
        <h3>login</h3>
        <form action="" method='post'>
            {% csrf_token %} 
            <div class="form-group">
                <label>username:</label>
                <input type="text" name='username' placeholder="Enter username">
            </div>

            <div class="form-group">
                <label>username:</label>
                <input type="password" name='password' placeholder="Enter password">
            </div>
            <input type="submit" value="login" class="login-btn">
        </form>
        <p>Havent signed up yet?</p>
        <a href="{% url 'register' %}">sign up</a>
    </div>

{% else %}
    
    <div class="form-wrapper my-3">
        <h3>register</h3>
        <form action="" method='post'>
            {% csrf_token %}  
            {% bootstrap_form form %}        
            <!-- {{ form.as_p }} -->
            <input type="submit" value="register" class="login-btn">
        </form>
        <p>Already signed up?</p>
        <a href="{% url 'login' %}">login</a>
    </div>
{% endif %}

{% endblock %}
